@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Gabarito", cursive, sans-serif;
}

body {
  background-color: #fff5f0;
}

*::-webkit-scrollbar {
  display: none;
}
